/* line 4, ../../src/scss/style.scss */
body {
  padding-top: 60px;
}

/* line 7, ../../src/scss/style.scss */
.container {
  max-width: 768px;
}

/* line 10, ../../src/scss/style.scss */
#chat-area {
  margin-bottom: 15px;
}

/* line 13, ../../src/scss/style.scss */
.meta {
  color: #999999;
  font-size: 0.9em;
}

/* line 17, ../../src/scss/style.scss */
.chat-time {
  margin-left: 15px;
}
